[Desktop Entry]
Name=Url Handler
Comment=A Utility to properly handle urls with spotify and the browser
Categories=Utility;
Exec=/usr/bin/url-handler %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-Browser=firefox.desktop
