[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=Url Handler
Comment=Url Handler
Categories=Productivity;Utility;
Exec=/usr/bin/url-handler %u
Terminal=true
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Browser=firefox.desktop
